*{
    margin: 0;
}
header{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
} 
h1{
    text-align: left;
    color: black;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 100%;
}
nav > a:link, a:visited {
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: whitesmoke;
    font-size: 18px;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: white;
	color: black;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.open a {
    display: block;
    padding: 2px;
    width: 100%;
}
main {
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
  }

  main div{
    object-fit: cover;
  }

  h2, h3{
    text-align: center;
    margin: 12px;
}

  
section{
    background-color: #007da4;
    margin: 0.25rem;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

p{
    color: wheat;
    margin: 0;
    font-size: larger;
}

p:nth-child(4){
    padding-bottom: 2rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 100%;
}

footer{
    background-color: cornflowerblue;
    color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}