body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
form {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin: 15px 0 0;
    font-weight: bold;
}

label.no-margin {
    margin-top: 0;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #003087;
    box-shadow: 0 0 5px rgba(0, 48, 135, 0.5);
    outline: none;
}

.btn-form {
    display: inline-block;
    background-color: #003087;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-form:hover {
    background-color: #FFCD00;
    color: #333;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label::before {
    background-color: #003087;
    border-color: #003087;
}

input[type="checkbox"]:checked + label::after {
    content: "✔";
    position: absolute;
    left: 5px;
    top: 1px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

textarea {
    resize: vertical;
    height: 100px;
}

footer{
    background-color: cornflowerblue;
    color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}